logs/
project/target/
project/project/
target/
build/
*.iml
*.ipr
*.iws
.idea/
.out
out
output
.gradle
.project
.cache
.classpath
.settings/
*.dot
.DS_Store
*part-*
derby.log
metastore_db
spark-warehouse
*.bak
*.log
#*.conf
swagger-ui/
tempFiles/
userfiles/
.vscode
*yarn.lock
bin/upgrade.go
!resources/whitelist_url.conf

# front
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
